/*
.Thread {
    display: block;
    color: #3C4858;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    width: 500px;
    margin-left: 120px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    left: 45%;
}

.Posts {
        width: 300px;
        display: block;
        z-index: 50;
        color: #3C4858;
        text-decoration: none;  
        color: black;
        margin-top: 220px;
        margin-left: 420px;
        text-align: center;
}
    
.Title {
        font-weight: bold;
}
    
.Text {
        margin-top: -15px;
        font-style: italic;
        font-size: 16px;
}    
*/

.Thread {
    display: block;
    position: absolute;
    width: 500px;
    left: 440px;
    top: 65px;
    color:  #3C4858;
    }

.Parent {
    display: block;
    width: 510px;
    color: #3C4858;
    text-decoration: none;  
    color: black;
    position: absolute;
    top: 540px;
    margin-top: -10px;    
}

.Posts {
    display: block;
    width: 510px;
    color: #3C4858;
    text-decoration: none;  
    color: black;
    position: absolute;
    top: 520px;
    margin: 0;
}


#posts {
    display: block;
    position: absolute;
    color: #3C4858;
    font-size: 30px;
    font-weight: bold;
    left: 0;
    top: -80px;   
}

#postTitle, #postText {
    display: block;
    position: relative;
    top: 50px;
}